

body{
    background-image: url(s.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-size: 15px;
    font-family: cursive;
}
ul{
    list-style-type: none;
    float: right;
}
ul li{
    display: inline;
}
ul li a{
    text-decoration: none;
    color: dimgray;
    padding: 5px 20px;
    border: 1px solid dimgray;
}
ul li a:hover{
    background-color: dimgray;
    color: floralwhite;
}
.container{
    width: 400px;
    
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    color: white;
    background: rgba(0,0,0,0.8);
    height: 500px;
    border-radius: 20px;
    margin: auto;
    box-sizing: border-box;
    padding: 40px;
}
h2{
    text-align: center;
    font-size: 30pxpx;
    color: gray;
    
}
h3{
    color: grey;
    font-size: medium;
    font-family: fantasy;
    

}
input[type=text],select{
    width: 100%;
    box-sizing: border-box;
    padding:20px 5px;
    background: rgba(0,0,0,0.8);
    outline: none;
    border: none;
    border-bottom: ;
    color: seashell;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    
}
.btn1{
    width: 50%;
    box-sizing: border-box;
    padding: 20px 20px;
    
    margin-top: 20px;
    background: black;
    outline: none;
    border: none;
    border-radius: 20px;
    opacity: 0.7;
    color: dimgrey;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;

}
.btn1:hover{
    background:grey;
    
}
p{
    font-size: 30px;
    padding: 5px 5px;
    color:brown;
    text-align: right;
}